@import "tailwindcss";

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.Logo
{
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  color: rgba(255, 255, 255, 0.87);
  letter-spacing: -4px;
}

.Logo1
{
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: black;
  color: rgba(0, 0, 0, 1);
  letter-spacing: -4px;
}

.Heading
{
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height: 85px;
}

.Heading1
{
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
  line-height:40px;
}

.Text
{
  font-family: "Archivo Black", sans-serif;
  font-weight: 300; 
  font-style: normal;
  
}


.Circluar
{
  
}

text
{
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 610;
    font-style: normal;
    font-size: 2.4rem;
    color:black !important;
    fill:black;
    
    text-transform: uppercase;
    border-bottom: 0.1rem solid black;
}   
.circleSvg
{
    animation: rotate 10s linear infinite;
    
}
@keyframes rotate
{
    to{
        transform: rotate(360deg);
    }
}
#circlePath
{
    fill: rgba(170, 159, 127, 0.5);
       
    
}



@theme{

--breakpoint-ax:1770px;

}

body::-webkit-scrollbar {
  display: none;
}



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(255, 240, 194);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  overflow-x: hidden;
  /* display: flex; */
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  /* border-radius: 8px; */
  /* border: 1px solid transparent; */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: 0.5s;
  /* transition: border-color 0.25s; */
}
button:hover {
  /* border-color: #646cff; */
  transition: 0.5s;
  transform: scale(1.2);
  background-color: black;
  color:white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
